In [1]:
conda activate Entorno_Proyecto_7

Note: you may need to restart the kernel to use updated packages.

In [2]:
pip freeze > requirements.txt

Note: you may need to restart the kernel to use updated packages.

# Demographics of Academy Awards (Oscars) Winners

### Introducción
Este dataset contiene los ganadores de los Oscars desde 1928 hasta el año 2014.

Se concideradon las siguientes categorias: 
- Mejor director
- Mejor actor   
- Mejor actor de reparto 
- Mejor actriz
- Mejor actriz de reparto

### Descripcion del dataframe

Es un dataframe que contiene 441 filas y 27 columnas
Valores Faltantes: Hay un total de 2,373 valores faltantes en todo el dataset.
Categorical Columns: 16
Numerical Columns: 11

#### Columnas Categóricas:

- _unit_state: Estado de la unidad.
- birthplace: Lugar de nacimiento del galardonado.
- date_of_birth: Fecha de nacimiento del galardonado.
- race_ethnicity: Raza o etnicidad del galardonado.
- religion: Religión del galardonado.
- sexual_orientation: Orientación sexual del galardonado.
- award: Categoría del premio ganado.
- biourl: URL de la biografía.
- birthplace_gold:
- date_of_birth_gold:
- movie: Película por la que se otorgó el premio.
- person: Nombre del galardonado.
- race_ethnicity_gold:
- religion_gold:
- sexual_orientation_gold:
- _golden:

#### Columnas Numéricas

- **_unit_id**: Identificador.
- **_trusted_judgments**:
- **birthplace:confidence**: Puntuación de confianza para la información del lugar de nacimiento.
- **date_of_birth:confidence**: Puntuación de confianza para la información de la fecha de nacimiento.
- **race_ethnicity::confidence**: Puntuación de confianza para la información sobre raza o etnicidad.
- **religion::confidence**: Puntuación de confianza para la información sobre religión.
- **sexual_orientation::confidence**: Puntuación de confianza para la información sobre orientación sexual.
- **year_of_award**: Año en que se otorgó el premio.
- **year_of_award_gold**:
- **_last_judgment_at**: Fecha del último juicio.

### Primera apreciación

Es un dataset simple, de datos demograficos, el cual contiene columnas irrelevantes o que no se entiende su utilidad(No hay información en el repositorio). Debido a la naturaleza de los datos parece no ser posible crear un modelo predictivo de machine learning, un analisis posterior me ayudara a aclarar esa posibilidal. El camino, en mi opinion, es realizar un mapa, analisis estadisticos para describir los datos con graficos y mostrar tendencias.
.

In [3]:
import pandas as pd
import numpy as np


file_path = r"C:\Users\Usuario\OneDrive - udd.cl\Datos adjuntos\Bootcamp ciencia de datos\Modulo 7\Proyecto_7_Organizacion_Presentación_Esteban_Freudenberg_UDD\Github_Proyecto_7\Proyectos-Pregrado\Data_used\raw\Oscars-demographics-DFE.csv"
Oscars_df = pd.read_csv(file_path, encoding='ISO-8859-1')

Oscar_info = Oscars_df.info()
Oscar_description = Oscars_df.describe(include='all')
Oscar_missing_values = Oscars_df.isnull().sum()
Oscar_total_missing = Oscar_missing_values.sum()

categorical_columns = Oscars_df.select_dtypes(include=['object']).columns.tolist()
numerical_columns = Oscars_df.select_dtypes(exclude=['object']).columns.tolist()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 441 entries, 0 to 440
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   _unit_id                       441 non-null    int64
 1   _golden                        441 non-null    bool
 2   _unit_state                    441 non-null    object
 3   _trusted_judgments             441 non-null    int64
 4   _last_judgment_at              416 non-null    object
 5   birthplace                     441 non-null    object
 6   birthplace:confidence          441 non-null    float64
 7   date_of_birth                  441 non-null    object
 8   date_of_birth:confidence       441 non-null    float64
 9   race_ethnicity                 441 non-null    object
 10  race_ethnicity:confidence      441 non-null    float64
 11  religion                       441 non-null    object
 12  religion:confidence            441 non-null    float64
 13  sexual_orientation             441 non-null    object
 14  sexual_orientation:confidence  441 non-null    float64
 15  year_of_award                  441 non-null    int64
 16  year_of_award:confidence       441 non-null    float64
 17  award                          441 non-null    object
 18  biourl                         441 non-null    object
 19  birthplace_gold                9 non-null      object
 20  date_of_birth_gold             8 non-null      object
 21  movie                          441 non-null    object
 22  person                         441 non-null    object
 23  race_ethnicity_gold            2 non-null      object
 24  religion_gold                  10 non-null     object
 25  sexual_orientation_gold        3 non-null      object
 26  year_of_award_gold             11 non-null     float64
dtypes: bool(1), float64(7), int64(3), object(16)
memory usage: 90.1+ KB

In [4]:
print(len(categorical_columns))
print(len(numerical_columns))

16
11

In [5]:
# Calculate the percentage of completeness for each column
completeness_percentage = (1 - (Oscar_missing_values / Oscars_df.shape[0])) * 100

Completitud_oscar = pd.DataFrame({
    'Valores Faltantes': Oscar_missing_values,
    'Porcentaje de Completitud (%)': completeness_percentage
})
Completitud_oscar

,Valores Faltantes,Porcentaje de Completitud (%)
_unit_id,0,100.000000
_golden,0,100.000000
_unit_state,0,100.000000
_trusted_judgments,0,100.000000
_last_judgment_at,25,94.331066
birthplace,0,100.000000
birthplace:confidence,0,100.000000
date_of_birth,0,100.000000
date_of_birth:confidence,0,100.000000
race_ethnicity,0,100.000000
race_ethnicity:confidence,0,100.000000
religion,0,100.000000
religion:confidence,0,100.000000
sexual_orientation,0,100.000000
sexual_orientation:confidence,0,100.000000
year_of_award,0,100.000000
year_of_award:confidence,0,100.000000
award,0,100.000000
biourl,0,100.000000
birthplace_gold,432,2.040816
date_of_birth_gold,433,1.814059
movie,0,100.000000
person,0,100.000000
race_ethnicity_gold,439,0.453515
religion_gold,431,2.267574
sexual_orientation_gold,438,0.680272
year_of_award_gold,430,2.494331

In [6]:
import pandas as pd

# Establecer la opción de visualización para mostrar todos los elementos en una serie
pd.set_option('display.max_seq_items', None)

unique_values = {column: Oscars_df[column].unique() for column in Oscars_df.columns}

# Imprimir los valores únicos
for column, values in unique_values.items():
    print(f"Valores únicos en la columna '{column}':")
    print(values)
    print("\n")

Valores únicos en la columna '_unit_id':
[670454353 670454354 670454355 670454356 670454357 670454358 670454359
 670454360 670454361 670454362 670454363 670454364 670454365 670454366
 670454367 670454368 670454369 670454370 670454371 670454372 670454373
 670454374 670454375 670454376 670454377 670454378 670454379 670454380
 670454381 670454382 670454383 670454384 670454385 670454386 670454387
 670454388 670454389 670454390 670454391 670454392 670454393 670454394
 670454395 670454396 670454397 670454398 670454399 670454400 670454401
 670454402 670454403 670454404 670454405 670454406 670454407 670454408
 670454409 670454410 670454411 670454412 670454413 670454414 670454415
 670454416 670454417 670454418 670454419 670454420 670454421 670454422
 670454423 670454424 670454425 670454426 670454427 670454428 670454429
 670454430 670454431 670454432 670454433 670454434 670454435 670454436
 670454437 670454438 670454439 670454440 670454441 670454442 670454443
 670454444 670454445 670454446 670454447 670454448 670454449 670454450
 670454451 670454452 670454453 670454454 670454455 670454456 670454457
 670454458 670454459 670454460 670454461 670454462 670454463 670454464
 670454465 670454466 670454467 670454468 670454469 670454470 670454471
 670454472 670454473 670454474 670454475 670454476 670454477 670454478
 670454479 670454480 670454481 670454482 670454483 670454484 670454485
 670454486 670454487 670454488 670454489 670454490 670454491 670454492
 670454493 670454494 670454495 670454496 670454497 670454498 670454499
 670454500 670454501 670454502 670454503 670454504 670454505 670454506
 670454507 670454508 670454509 670454510 670454511 670454512 670454513
 670454514 670454515 670454516 670454517 670454518 670454519 670454520
 670454521 670454522 670454523 670454524 670454525 670454526 670454527
 670454528 670454529 670454530 670454531 670454532 670454533 670454534
 670454535 670454536 670454537 670454538 670454539 670454540 670454541
 670454542 670454543 670454544 670454545 670454546 670454547 670454548
 670454549 670454550 670454551 670454552 670454553 670454554 670454555
 670454556 670454557 670454558 670454559 670454560 670454561 670454562
 670454563 670454564 670454565 670454566 670454567 670454568 670454569
 670454570 670454571 670454572 670454573 670454574 670454575 670454576
 670454577 670454578 670454579 670454580 670454581 670454582 670454583
 670454584 670454585 670454586 670454587 670454588 670454589 670454590
 670454591 670454592 670454593 670454594 670454595 670454596 670454597
 670454598 670454599 670454600 670454601 670454602 670454603 670454604
 670454605 670454606 670454607 670454608 670454609 670454610 670454611
 670454612 670454613 670454614 670454615 670454616 670454617 670454618
 670454619 670454620 670454621 670454622 670454623 670454624 670454625
 670454626 670454627 670454628 670454629 670454630 670454631 670454632
 670454633 670454634 670454635 670454636 670454637 670454638 670454639
 670454640 670454641 670454642 670454643 670454644 670454645 670454646
 670454647 670454648 670454649 670454650 670454651 670454652 670454653
 670454654 670454655 670454656 670454657 670454658 670454659 670454660
 670454661 670454662 670454663 670454664 670454665 670454666 670454667
 670454668 670454669 670454670 670454671 670454672 670454673 670454674
 670454675 670454676 670454677 670454678 670454679 670454680 670454681
 670454682 670454683 670454684 670454685 670454686 670454687 670454688
 670454689 670454690 670454691 670454692 670454693 670454694 670454695
 670454696 670454697 670454698 670454699 670454700 670454701 670454702
 670454703 670454704 670454705 670454706 670454707 670454708 670454709
 670454710 670454711 670454712 670454713 670454714 670454715 670454716
 670454717 670454718 670454719 670454720 670454721 670454722 670454723
 670454724 670454725 670454726 670454727 670454728 670454729 670454730
 670454731 670454732 670454733 670454734 670454735 670454736 670454737
 670454738 670454739 670454740 670454741 670454742 670454743 670454744
 670454745 670454746 670454747 670454748 670454749 670454750 670454751
 670454752 670454753 670454754 670454755 670454756 670454757 670454758
 670454759 670454760 670454761 670454762 670454763 670454764 670454765
 670454766 670454767 670454768 670927629 670939613 670944094 670944168
 670944316 670944478 670944543 670944623 670944674 670944755 670944822
 670944835 670944920 670944948 670945043 670945693 670945790 670945834
 670945895 670946199 670946276 670946299 670964912 670964956 670972898]


Valores únicos en la columna '_golden':
[False  True]


Valores únicos en la columna '_unit_state':
['finalized' 'golden']


Valores únicos en la columna '_trusted_judgments':
[ 3 82 87 75 81 95 84 90 91 62 76 86 89 85 92]


Valores únicos en la columna '_last_judgment_at':
['2/10/15 3:45' '2/10/15 2:03' '2/10/15 2:05' '2/10/15 2:04'
 '2/10/15 1:48' '2/10/15 3:50' '2/10/15 2:07' '2/10/15 1:46'
 '2/10/15 1:47' '2/10/15 2:10' '2/10/15 2:12' '2/10/15 2:02'
 '2/10/15 3:57' '2/10/15 2:29' '2/10/15 1:55' '2/10/15 4:02' nan
 '2/10/15 1:51' '2/10/15 2:15' '2/10/15 1:57' '2/10/15 3:53'
 '2/10/15 1:52' '2/10/15 2:06' '2/10/15 2:13' '2/10/15 3:56'
 '2/10/15 2:01' '2/10/15 2:11' '2/10/15 1:59' '2/10/15 2:14'
 '2/10/15 4:07' '2/10/15 1:43' '2/10/15 2:00' '2/10/15 2:18'
 '2/10/15 3:48' '2/10/15 2:19' '2/10/15 1:53' '2/10/15 3:55'
 '2/10/15 3:51' '2/10/15 2:09' '2/10/15 1:56' '2/10/15 1:58'
 '2/10/15 2:41' '2/10/15 2:08' '2/10/15 4:06' '2/10/15 4:14'
 '2/10/15 1:49' '2/10/15 4:08' '2/10/15 3:58' '2/10/15 2:16'
 '2/10/15 4:21']


Valores únicos en la columna 'birthplace':
['Chisinau, Moldova' 'Glasgow, Scotland' 'Chicago, Il'
 'Salt Lake City, Ut' 'Bisacquino, Sicily, Italy' 'Cape Elizabeth, Me'
 'Los Angeles, Ca' 'Pasadena, Ca' 'Mulhouse, Haut-Rhin, Alsace, France'
 'Budapest, Hungary' 'New York City' 'Sucha, Galicia, Austria'
 'Istanbul, Turkey' 'Nevada, Mo' 'Wilkes-Barre, Pa' 'Oakland, Ca'
 'Vienna, Austria' 'Lawrence, Ks' 'Croydon, Surrey, England'
 'Winchester, In' 'Shipley, Yorkshire, England' 'Berlin, Germany'
 'St. Louis Park, Mn' 'London, England' 'Tokyo, Japan' 'Minneapolis, Mn'
 'Detroit, Mi' 'CÌÁslav, Czechoslovakia' 'Oak Park, Il' 'Brooklyn, Ny'
 'Waxahachie, Tx' 'Santa Monica, Ca' 'Richmond, Va' 'Cambridge, England'
 'North Bergen, Nj' 'Lafayette, In' 'Parma, Emilia-Romagna, Italy'
 'Baltimore, Md' 'Lynwood, Ca' 'Baldwin, Ny' 'San Francisco, Ca'
 'Cincinnati, Oh' 'Peekskill, Ny' 'Ryde, Isle of Wight, England'
 'Kapuskasing, Ontario, Canada' 'Reading, Berkshire, England'
 'Atlanta, Ga' 'Duncan, Ok' 'Paris, France' 'Wellington, New Zealand'
 'Pingtung, Taiwan' 'Flushing, Ny' 'Manchester, England' 'San Carlos, Ca'
 'Rorschach, Switzerland' 'Columbus, Oh' 'Philadelphia, Pa'
 'Kansas City, Mo' 'Victoria Hotel, Scarborough, Yorkshire, England'
 'Cadiz, Oh' 'Tunbridge Wells, Kent, England' 'Lviv, Ukraine'
 'Milwaukee, Wi' 'Withington, Manchester, England' 'Indiana, Pa'
 'Helena, Mt' 'Manhattan, Ny' 'Tacoma, Wa' 'Neath, Wales' 'Racine, Wi'
 'Richmond, Surrey, England' 'Dorking, Surrey, England'
 'Santurce, Puerto Rico' "O'fallon, Il" 'Omaha, Ne' 'Hamden, Ct'
 'Vladivostok, Russia' 'Evanston, Il' 'La Jolla, Ca' 'Miami, Fl'
 'Huyton, Lancashire, England' 'Hurstpierpoint, West Sussex, England'
 'Westhampton, Ny' 'Winterset, Ia' 'Wise, Va' 'San Bernardino, Ca'
 'Newton, Ma' 'Mount Vernon, Ny' 'South Kensington, London, England'
 'Yonkers, Ny' 'Grand Island, Ne' 'Scarborough, Yorkshire, England'
 'San Diego, Ca' 'Pittsburgh, Pa' 'Washington, Dc' 'Shaker Heights, Oh'
 'New Brunswick, Nj' 'Cowes, Isle of Wight, England' 'Port Talbot, Wales'
 'East Harlem, New York City' 'Concord, Ca' 'Long Beach, Ca'
 'Toowoomba, Queensland, Australia' 'Misericordia, Arezzo, Tuscany, Italy'
 'South Orange, Nj' 'Burbank, Ca' 'Terrell, Tx' 'Fairport, Ny'
 'Longview, Tx' 'Grayshott, Hampshire, England'
 'Rueil-Malmaison, Hauts-De-Seine, France' 'Uvalde, Tx' 'Swampscott, Ma'
 'Elizabeth, Nj' 'Walters, Ok' 'Savannah, Ga' 'Dublin, Ireland'
 'North Sydney, Nova Scotia, Canada' 'Vale of Glamorgan, Wales'
 'Toronto, Ontario, Canada' 'Lima, Oh' 'St. Petersburg, Russia'
 'Chihuahua, Mexico' 'Hoboken, Nj' 'Hunt City, Il'
 'Marian Glas, Anglesey, Wales' 'Norwood, Oh' 'Hartford, Ct' 'Macon, Ga'
 'Bronx, Ny' 'Malden, Ma' 'St. Cloud, Mn' 'Felixstowe, Suffolk, England'
 'Shidler, Ok' 'Cleveland, Oh' 'Bucharest, Romania' 'Astoria, Ny'
 'Malibu, Ca' 'Samrong Young, Cambodia' 'Kenosha, Wi'
 'Bermondsey, England' 'Edinburgh, Scotland' 'St. Louis, Mo' 'Newark, Nj'
 'Lattimer Mines, Pa' 'San Saba, Tx' 'Laurel, Ne'
 'Lincoln, Lincolnshire, England' 'West Covina, Ca' 'Memphis, Tn'
 'Lexington, Ky' 'Las Palmas De Gran Canaria, Canary Islands'
 'Perth, Australia' 'Na' 'Haverfordwest, Pembrokeshire, Wales'
 'Bossier City, La' 'Montreal, Quebec, Canada' 'Cobourg, Ontario, Canada'
 'Lowell, Ma' 'Dusseldorf, Germany' 'Darjeeling, India' 'Independence, Mo'
 'Tulsa, Ok' 'Stockholm, Sweden' 'San Antonio, Tx' 'St. Joseph, Mo'
 'Brussels, Belgium' 'Rome, Italy' 'Thomasville, Ga' 'Wiesbaden, Germany'
 'Pozzuoli, Italy' 'Packard, Ky' 'Walton-on-Thames, Surrey, England'
 'Chabua, Assam, India' 'Ilford, Essex, England'
 'Birkenhead, Cheshire, England' 'Birmingham, Al' 'Bascom, Fl'
 'Quitman, Tx' 'Summit, Nj' 'Kirksville, Mo' 'Morton Grove, Il'
 'El Centro, Ca' 'Conyers, Ga' 'Cloquet, Mn' 'Queens, Ny'
 'Culver City, Ca' 'Lincoln, Ne' 'Smyrna, Ga' 'Honolulu, Hi'
 'Benoni, South Africa' 'New Orleans, La' 'Chiswick, London, England'
 'Reading, England' 'Arlington, Va' 'Jerusalem, Israel' 'Louisville, Ky'
 'Melbourne, Victoria, Australia' 'Litchfield, Mn' 'Wichita, Ks'
 'Palmyra, Mo' 'Quincy, Il' 'Athens, Greece' 'Michigan City, In'
 'Joliet, Il' 'Newtonville, Ma' 'Denison, Ia' 'Otaro, Hokkaido, Japan'
 'Bramhall, Cheshire, England' 'Charleroi, Pa' 'Humacao, Puerto Rico'
 'Elmhurst, Ny' 'Hastings, Ne' 'Marblehead, Ma' 'Quincy, Ma'
 'Silver Spring, Md' 'Des Moines, Ia' 'Old Westbury, Ny' 'Newport, Ar'
 'Troy, Ny' 'Morristown, Nj' 'Wareham, Ma' 'Winnipeg, Manitoba, Canada'
 'Tenafly, Nj' 'Athens, Ga' 'York, North Yorkshire, England'
 'Catskill Mountains, Ny' 'Mumbles, Wales' 'Katy, Tx' 'Madrid, Spain'
 'Woodlawn, Md' 'Montgomery, Al' 'Mexico City, Mexico']


Valores únicos en la columna 'birthplace:confidence':
[1.     0.6667 0.9595 0.6571 0.9593]


Valores únicos en la columna 'date_of_birth':
['30-Sep-1895' '2-Feb-1886' '23-Feb-1899' '23-Apr-1894' '18-May-1897'
 '1-Feb-1894' '3-Oct-1898' '23-Feb-1883' '1-Jul-1902' '24-Dec-1886'
 '11-Oct-18' '22-Jun-06' '7-Sep-09' '5-Aug-06' '11-Feb-09' '18-Dec-04'
 '29-Apr-07' '30-Jan-20' '25-Mar-08' '28-Feb-1903' '10-Sep-14' '5-Jun-28'
 '7-Jul-1899' '6-Nov-31' '29-Nov-54' '30-Dec-06' '16-Feb-26' '30-May-20'
 '29-Aug-35' '23-Jun-27' '20-Dec-21' '7-Apr-39' '18-Feb-32' '21-Dec-35'
 '1-Dec-35' '3-Feb-39' '29-Sep-32' '18-Aug-1936 [1]' '30-Mar-37'
 '29-Aug-23' '9-May-40' '1-Jul-34' '15-Sep-46' '16-Mar-41' '6-Apr-42'
 '18-Jan-55' '22-Feb-44' '31-May-30' '18-Dec-46' '14-May-52' '3-Jan-56'
 '6-Jan-54' '16-Aug-54' '1-Aug-65' '14-Jan-63' '1-Mar-54' '18-Aug-33'
 '31-Oct-61' '23-Oct-54' '17-Nov-42' '21-Sep-57' '20-Oct-56' '27-Nov-51'
 '1972' '29-Mar-67' '23-Jul-1884' '29-Mar-1889' '10-Apr-1868'
 '28-Apr-1878' '1-Apr-1885' '1-Jul-1899' '1-Feb-1901' '11-Dec-1883'
 '22-Sep-1895' '5-Apr-1900' '18-Mar-05' '20-May-08' '7-May-1901'
 '17-Jul-1899' '26-May-1887' '3-May-1903' '3-Jan-07' '31-Aug-1897'
 '9-Feb-1891' '22-May-07' '9-Dec-11' '8-Jan-09' '25-Dec-1899' '17-Apr-18'
 '3-Apr-24' '24-Jan-17' '11-Jul-20' '2-Apr-14' '1-Mar-09' '4-Oct-23'
 '2-Nov-13' '8-Dec-30' '5-Apr-16' '20-Feb-27' '5-Mar-08' '19-Feb-24'
 '21-Jan-22' '14-Apr-25' '9-Sep-23' '26-May-07' '18-Oct-27' '30-Jan-30'
 '8-Feb-25' '4-Nov-18' '22-Apr-37' '28-Sep-16' '29-Oct-47' '29-Dec-38'
 '8-Aug-37' '17-Aug-43' '16-May-05' '31-Dec-43' '5-Jan-31' '24-Oct-39'
 '20-Mar-50' '26-Jan-25' '25-Sep-44' '29-Apr-57' '19-Sep-48' '31-Dec-37'
 '25-Apr-40' '9-Jul-56' '7-Jan-64' '6-Jul-51' '27-Oct-52' '26-Jul-59'
 '7-Apr-64' '28-Dec-54' '14-Apr-73' '17-Aug-60' '13-Dec-67' '23-Jul-67'
 '15-Jul-61' '4-Dec-49' '10-Sep-60' '19-Jun-72' '4-Nov-69' '25-Jul-1894'
 '22-Mar-1896' '11-Jul-1892' '27-Jul-1880' '13-Dec-10' '17-Jun-1877'
 '10-Mar-1888' '2-Nov-1901' '14-Jan-14' '26-Sep-1875' '6-Apr-1884'
 '7-Nov-1903' '3-Jul-06' '22-Mar-12' '21-Apr-15' '12-Dec-15' '10-Sep-15'
 '5-Feb-19' '14-Jun-09' '30-May-12' '16-Apr-21' '16-Sep-34' '25-Mar-1901'
 '5-Apr-1901' '4-Nov-19' '1-Oct-20' '18-Feb-25' '16-Jun-07' '4-Nov-13'
 '22-Feb-08' '13-Jun-18' '11-Apr-32' '22-Sep-1902' '20-Jan-1896'
 '26-Jul-22' '31-Mar-43' '16-Aug-60' '14-Apr-04' '27-May-36' '22-Mar-40'
 '31-May-04' '14-Mar-33' '25-Aug-30' '24-Oct-47' '9-Feb-43' '18-Feb-19'
 '20-Jun-31' '2-Jan-68' '21-Jul-51' '31-Aug-28' '19-Feb-67' '24-May-49'
 '9-Jul-51' '16-Oct-58' '1-Jun-37' '6-May-61' '26-Mar-34' '1-Mar-69'
 '4-Apr-79' '4-Oct-56' '30-Jan-74' '13-Dec-29' '26-Dec-71' '6-Oct-06'
 '8-Apr-1892' '10-Aug-1902' '2-Nov-1868' '10-Oct-1900' '12-May-07'
 '13-Sep-1903' '5-Apr-08' '12-Jan-10' '5-Nov-13' '16-Jul-11' '22-Oct-17'
 '29-Sep-04' '2-Mar-19' '29-Aug-15' '23-Mar-05' '1-Jul-16' '6-Jan-13'
 '5-Jan-17' '21-Jun-21' '30-Aug-1898' '4-May-29' '12-Nov-29' '7-Mar-08'
 '27-Feb-30' '30-Jun-18' '25-Mar-21' '27-Feb-32' '20-Sep-34' '17-Sep-31'
 '20-Jan-26' '1-Oct-35' '14-Apr-41' '24-Apr-42' '28-Dec-34' '9-May-36'
 '21-Dec-37' '12-Mar-46' '7-Dec-32' '22-Jul-34' '14-Jan-41' '5-Jan-46'
 '6-Nov-46' '25-Dec-49' '22-Jun-49' '24-Apr-34' '22-Nov-24' '24-Aug-65'
 '20-May-46' '19-Nov-62' '7-Jun-09' '28-Jun-48' '15-Apr-59' '20-Mar-58'
 '20-Apr-49' '4-Oct-46' '23-Jun-57' '15-Jun-63' '27-Sep-72' '30-Jul-74'
 '28-Oct-67' '14-Aug-66' '20-Jun-67' '7-Aug-75' '22-Mar-76' '26-Jul-45'
 '30-Sep-75' '5-Oct-75' '26-Jul-64' '9-Jun-81' '15-Aug-90' '14-May-69'
 '15-Feb-1899' '2-Nov-1892' '7-Dec-1891' '10-Jun-1893' '15-Oct-1879'
 '3-May-06' '27-Oct-18' '17-Dec-1900' '15-Aug-1879' '25-Jun-1903'
 '7-May-23' '29-Apr-17' '8-Mar-10' '17-Mar-16' '3-Jan-1886' '12-Nov-22'
 '28-Nov-23' '27-Jan-21' '4-Jul-24' '30-Dec-14' '30-Jan-25' '3-Apr-29'
 '15-Aug-12' '18-Aug-20' '31-Mar-34' '11-Dec-31' '14-Dec-46' '11-May-1892'
 '9-Oct-18' '27-Apr-37' '20-Nov-27' '30-Oct-1896' '21-Nov-45' '30-Apr-26'
 '29-Mar-19' '5-Nov-63' '31-Oct-27' '2-Aug-14' '30-Jan-37' '8-Feb-53'
 '21-Jun-25' '2-Apr-45' '22-Dec-07' '8-Jul-51' '28-Mar-48' '21-Jan-56'
 '17-Feb-45' '13-Nov-55' '28-Feb-48' '4-Dec-64' '24-Jul-82' '28-Sep-67'
 '9-Mar-64' '8-Dec-53' '9-Dec-34' '4-Jun-75' '14-Aug-59' '12-Dec-70'
 '25-Sep-69' '25-Apr-69' '7-Mar-71' '12-Sep-81' '5-Nov-60' '28-Apr-74'
 '11-Dec-67' '14-Sep-60' '25-May-72' '12-Nov-82' '1-Mar-83']


Valores únicos en la columna 'date_of_birth:confidence':
[1.     0.9597 0.6562 0.9648 0.6667 0.9596 0.9631]


Valores únicos en la columna 'race_ethnicity':
['White' 'Asian' 'Hispanic' 'Black' 'Multiracial' 'Middle Eastern']


Valores únicos en la columna 'race_ethnicity:confidence':
[1.     0.6571 0.9594]


Valores únicos en la columna 'religion':
['Na' 'Roman Catholic' 'Jewish' 'Presbyterian' 'Baptist' 'Atheist'
 'See Note' 'Anglican/episcopalian' 'Deist' 'Protestant' 'Lutheran'
 'Quaker' 'Born-Again Christian' 'Buddhist' 'Christian Science' 'Sufism'
 'Disciples of Christ' 'Hindu' 'Christian' 'Methodist' 'Agnostic'
 'Congregationalist']


Valores únicos en la columna 'religion:confidence':
[1.     0.963  0.6571 0.6667 0.3333 0.9624 0.6897 0.6562 0.9597]


Valores únicos en la columna 'sexual_orientation':
['Straight' 'Bisexual' 'Gay' 'Na' 'Matter of Dispute' 'Lesbian']


Valores únicos en la columna 'sexual_orientation:confidence':
[1.     0.6842 0.6667 0.6571 0.9599 0.6857]


Valores únicos en la columna 'year_of_award':
[1927 1930 1931 1932 1933 1934 1935 1936 1937 1938 1939 1940 1941 1942
 1943 1944 1945 1962 1946 1947 1948 1949 1950 1951 1952 1953 1954 1955
 1956 1957 1958 1959 1960 1961 1963 1964 1965 1966 1967 1968 2008 1969
 1970 1972 1973 1975 1976 1978 1979 1980 1981 1982 1983 1985 1986 1990
 1988 1989 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002
 2003 2004 2005 2006 2007 2009 2011 2012 2013 1929 1971 1974 1977 1984
 1987 2010 2014]


Valores únicos en la columna 'year_of_award:confidence':
[1.     0.6667 0.7227 0.3333 0.6923 0.9643 0.6897 0.9642 0.9646 0.9195
 0.6857]


Valores únicos en la columna 'award':
['Best Director' 'Best Actor' 'Best Supporting Actor' 'Best Actress'
 'Best Supporting Actress']


Valores únicos en la columna 'biourl':
['http://www.nndb.com/people/320/000043191/'
 'http://www.nndb.com/people/626/000042500/'
 'http://www.nndb.com/people/544/000041421/'
 'http://www.nndb.com/people/292/000044160/'
 'http://www.nndb.com/people/459/000032363/'
 'http://www.nndb.com/people/458/000032362/'
 'http://www.nndb.com/people/380/000044248/'
 'http://www.nndb.com/people/416/000041293/'
 'http://www.nndb.com/people/463/000032367/'
 'http://www.nndb.com/people/676/000032580/'
 'http://www.nndb.com/people/281/000064089/'
 'http://www.nndb.com/people/982/000024910/'
 'http://www.nndb.com/people/537/000026459/'
 'http://www.nndb.com/people/704/000024632/'
 'http://www.nndb.com/people/723/000032627/'
 'http://www.nndb.com/people/382/000044250/'
 'http://www.nndb.com/people/538/000032442/'
 'http://www.nndb.com/people/384/000044252/'
 'http://www.nndb.com/people/462/000032366/'
 'http://www.nndb.com/people/825/000032729/'
 'http://www.nndb.com/people/460/000032364/'
 'http://www.nndb.com/people/249/000043120/'
 'http://www.nndb.com/people/373/000041250/'
 'http://www.nndb.com/people/455/000023386/'
 'http://www.nndb.com/people/399/000025324/'
 'http://www.nndb.com/people/290/000064098/'
 'http://www.nndb.com/people/771/000032675/'
 'http://www.nndb.com/people/509/000032413/'
 'http://www.nndb.com/people/112/000024040/'
 'http://www.nndb.com/people/159/000032063/'
 'http://www.nndb.com/people/783/000032687/'
 'http://www.nndb.com/people/866/000022800/'
 'http://www.nndb.com/people/622/000023553/'
 'http://www.nndb.com/people/679/000032583/'
 'http://www.nndb.com/people/501/000022435/'
 'http://www.nndb.com/people/810/000043681/'
 'http://www.nndb.com/people/267/000064075/'
 'http://www.nndb.com/people/795/000022729/'
 'http://www.nndb.com/people/719/000022653/'
 'http://www.nndb.com/people/750/000023681/'
 'http://www.nndb.com/people/209/000024137/'
 'http://www.nndb.com/people/772/000023703/'
 'http://www.nndb.com/people/545/000022479/'
 'http://www.nndb.com/people/268/000024196/'
 'http://www.nndb.com/people/748/000023679/'
 'http://www.nndb.com/people/758/000022692/'
 'http://www.nndb.com/people/578/000024506/'
 'http://www.nndb.com/people/849/000022783/'
 'http://www.nndb.com/people/734/000022668/'
 'http://www.nndb.com/people/224/000025149/'
 'http://www.nndb.com/people/583/000022517/'
 'http://www.nndb.com/people/513/000032417/'
 'http://www.nndb.com/people/385/000025310/'
 'http://www.nndb.com/people/059/000025981/'
 'http://www.nndb.com/people/907/000025832/'
 'http://www.nndb.com/people/365/000025290/'
 'http://www.nndb.com/people/541/000023472/'
 'http://www.nndb.com/people/848/000025773/'
 'http://www.nndb.com/people/394/000025319/'
 'http://www.nndb.com/people/678/000022612/'
 'http://www.nndb.com/people/400/000025325/'
 'http://www.nndb.com/people/887/000044755/'
 'http://www.nndb.com/people/837/000079600/'
 'http://www.nndb.com/people/093/000268286/'
 'http://www.nndb.com/people/302/000281456/'
 'http://www.nndb.com/people/738/000063549/'
 'http://www.nndb.com/people/739/000063550/'
 'http://www.nndb.com/people/740/000063551/'
 'http://www.nndb.com/people/741/000043612/'
 'http://www.nndb.com/people/976/000043847/'
 'http://www.nndb.com/people/884/000042758/'
 'http://www.nndb.com/people/156/000027075/'
 'http://www.nndb.com/people/452/000047311/'
 'http://www.nndb.com/people/741/000063552/'
 'http://www.nndb.com/people/979/000024907/'
 'http://www.nndb.com/people/742/000063553/'
 'http://www.nndb.com/people/659/000026581/'
 'http://www.nndb.com/people/740/000031647/'
 'http://www.nndb.com/people/798/000024726/'
 'http://www.nndb.com/people/713/000042587/'

## Eliminación de columnas no relevantes

In [7]:
Oscars_df.drop(["_unit_id", "_last_judgment_at", "birthplace:confidence", "date_of_birth:confidence", "race_ethnicity:confidence", "religion:confidence", "sexual_orientation:confidence", "year_of_award:confidence"], inplace=True, axis=1)

## Eliminacion signos de puntuación y agregar "_" en los espacios entre los nombres

In [8]:
import pandas as pd
import re
import numpy as np

def limpiar_valor(valor):
    if isinstance(valor, str):  # Check if valor is a string
        # Eliminar signos de puntuación
        valor_sin_puntuacion = re.sub(r'[^\w\s]', '', valor)
        # Reemplazar espacios con guiones bajos
        valor_limpio = valor_sin_puntuacion.replace(' ', '_')
        return valor_limpio
    else:
        return valor

columnas_a_limpiar = ['birthplace', 'race_ethnicity', 'religion', 'birthplace_gold', 'date_of_birth_gold', 'movie', 'person', 'race_ethnicity_gold', 'religion_gold', 'sexual_orientation_gold',"award"]
for columna in columnas_a_limpiar:
    Oscars_df[columna] = Oscars_df[columna].apply(limpiar_valor)

### Tranformar year_of_award_gold a string, eliminar puntos finales y rellena valores faltantes con pd.NA(Uniformidad de los nulos), y luego convierte a dato numerico.

In [9]:

Oscars_df['year_of_award_gold'] = Oscars_df['year_of_award_gold'].astype(str).str.replace(r'\.$', '', regex=True).fillna(pd.NA)
Oscars_df['year_of_award_gold'] = Oscars_df['year_of_award_gold'].astype(float).astype('Int64').fillna(pd.NA)

## Remplazo a mano de valores desde la pagina encontrada en la columna biourl

In [10]:
Oscars_df.loc[Oscars_df['person'] == 'Michael_Cimino', ['date_of_birth_gold', 'date_of_birth']] = '3-Feb-1939'
Oscars_df.loc[Oscars_df['person'] == 'Danny_Boyle', ['date_of_birth_gold', 'date_of_birth']] = "20-Oct-1956"
Oscars_df.loc[Oscars_df['person'] == 'Van_Heflin', ['date_of_birth_gold', 'date_of_birth']] = "13-Dec-1910"
Oscars_df.loc[Oscars_df['person'] == 'Jason_Robards', ['date_of_birth_gold', 'date_of_birth']] = "26-Jul-1922"
Oscars_df.loc[Oscars_df['person'] == 'James_Coburn', ['date_of_birth_gold', 'date_of_birth']] = "31-Aug-1928"
Oscars_df.loc[Oscars_df['person'] == 'Elizabeth_Taylor', ['date_of_birth_gold', 'date_of_birth']] = "27-Feb-1932"
Oscars_df.loc[Oscars_df['person'] == 'Maggie_Smith', ['date_of_birth_gold', 'date_of_birth']] = "28-Dec-1934"
Oscars_df.loc[Oscars_df['person'] == 'Faye_Dunaway', ['date_of_birth_gold', 'date_of_birth']] = "14-Jan-1941"
Oscars_df.loc[Oscars_df['person'] == 'Gwyneth_Paltrow', ['date_of_birth_gold', 'date_of_birth']] = "27-Sep-1972"
Oscars_df.loc[Oscars_df['person'] == 'Hilary_Swank', ['date_of_birth_gold', 'date_of_birth']] = "30-Jul-1974"
Oscars_df.loc[Oscars_df['person'] == 'Mary_Astor', ['date_of_birth_gold', 'date_of_birth']] = "3-May-1906"
Oscars_df.loc[Oscars_df['person'] == 'Angelina_Jolie', ['date_of_birth_gold', 'date_of_birth']] = "4-Jun-1975"
Oscars_df.loc[Oscars_df['person'] == 'Marcia_Gay_Harden', ['date_of_birth_gold', 'date_of_birth']] = "14-Aug-1959"
Oscars_df.loc[Oscars_df['person'] == "Rachel_Weisz", ['date_of_birth_gold', 'date_of_birth']] = "7-Mar-1971"
Oscars_df.loc[Oscars_df['person'] == "Hilary_Swank", ['date_of_birth_gold', 'date_of_birth']] = "30-Jul-1974"

## El siguiente proceso garantiza que los datos sean actualizados entre las columnas originales y sus respectivas columnas con el sufijo _gold, asi remplazando datos que faltan. Además, maneja los valores nulos al evitar copiarlos entre las columnas.

In [11]:
mask = (Oscars_df["_golden"] == False)  #Tambien lo realice con True

Oscars_df.loc[mask & Oscars_df["date_of_birth"].notnull(), "date_of_birth_gold"] = Oscars_df.loc[mask & Oscars_df["date_of_birth"].notnull(), "date_of_birth"]
Oscars_df.loc[mask & Oscars_df["date_of_birth_gold"].notnull(), "date_of_birth"] = Oscars_df.loc[mask & Oscars_df["date_of_birth_gold"].notnull(), "date_of_birth_gold"]

Oscars_df.loc[mask & Oscars_df["race_ethnicity"].notnull(), "race_ethnicity_gold"] = Oscars_df.loc[mask & Oscars_df["race_ethnicity"].notnull(), "race_ethnicity"]
Oscars_df.loc[mask & Oscars_df["race_ethnicity_gold"].notnull(), "race_ethnicity"] = Oscars_df.loc[mask & Oscars_df["race_ethnicity_gold"].notnull(), "race_ethnicity_gold"]

Oscars_df.loc[mask & Oscars_df["religion"].notnull(), "religion_gold"] = Oscars_df.loc[mask & Oscars_df["religion"].notnull(), "religion"]
Oscars_df.loc[mask & Oscars_df["religion_gold"].notnull(), "religion"] = Oscars_df.loc[mask & Oscars_df["religion_gold"].notnull(), "religion_gold"]

Oscars_df.loc[mask & Oscars_df["birthplace"].notnull(), "birthplace_gold"] = Oscars_df.loc[mask & Oscars_df["birthplace"].notnull(), "birthplace"]
Oscars_df.loc[mask & Oscars_df["birthplace_gold"].notnull(), "birthplace"] = Oscars_df.loc[mask & Oscars_df["birthplace_gold"].notnull(), "birthplace_gold"]

Oscars_df.loc[mask & Oscars_df["sexual_orientation"].notnull(), "sexual_orientation_gold"] = Oscars_df.loc[mask & Oscars_df["sexual_orientation"].notnull(), "sexual_orientation"]
Oscars_df.loc[mask & Oscars_df["sexual_orientation_gold"].notnull(), "sexual_orientation"] = Oscars_df.loc[mask & Oscars_df["sexual_orientation_gold"].notnull(), "sexual_orientation_gold"]

Oscars_df.loc[mask & Oscars_df["year_of_award"].notnull(), "year_of_award_gold"] = Oscars_df.loc[mask & Oscars_df["year_of_award"].notnull(), "year_of_award"]
Oscars_df.loc[mask & Oscars_df["year_of_award_gold"].notnull(), "year_of_award"] = Oscars_df.loc[mask & Oscars_df["year_of_award_gold"].notnull(), "year_of_award_gold"]

## La mayoria de los valores existentes se encuentran en las columnas que no son "_gold. Se rellenan las columnas "_gold" con su contraparte.

In [12]:
Oscars_df['birthplace_gold'] = Oscars_df['birthplace']
Oscars_df['date_of_birth_gold'] = Oscars_df['date_of_birth']
Oscars_df['race_ethnicity_gold'] = Oscars_df['race_ethnicity']
Oscars_df['religion_gold'] = Oscars_df['religion']
Oscars_df['sexual_orientation_gold'] = Oscars_df['sexual_orientation']
Oscars_df['year_of_award_gold'] = Oscars_df['year_of_award']

In [13]:
Oscars_df['date_of_birth_gold'] = pd.to_datetime(Oscars_df['date_of_birth_gold'], errors='coerce')
Oscars_df['date_of_birth'] = pd.to_datetime(Oscars_df['date_of_birth'], errors='coerce')

## Primer Filtro

In [14]:
Oscars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 441 entries, 0 to 440
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _golden                  441 non-null    bool
 1   _unit_state              441 non-null    object
 2   _trusted_judgments       441 non-null    int64
 3   birthplace               441 non-null    object
 4   date_of_birth            111 non-null    datetime64[ns]
 5   race_ethnicity           441 non-null    object
 6   religion                 441 non-null    object
 7   sexual_orientation       441 non-null    object
 8   year_of_award            441 non-null    int64
 9   award                    441 non-null    object
 10  biourl                   441 non-null    object
 11  birthplace_gold          441 non-null    object
 12  date_of_birth_gold       111 non-null    datetime64[ns]
 13  movie                    441 non-null    object
 14  person                   441 non-null    object
 15  race_ethnicity_gold      441 non-null    object
 16  religion_gold            441 non-null    object
 17  sexual_orientation_gold  441 non-null    object
 18  year_of_award_gold       441 non-null    int64
dtypes: bool(1), datetime64[ns](2), int64(3), object(13)
memory usage: 62.6+ KB

## Scrapping de fechas de nacimiento para aquellos que faltan los datos

In [15]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

cols = ["date_of_birth", "date_of_birth_gold", "biourl", "person"]

for index, row in Oscars_df[Oscars_df[cols].isnull().any(axis=1)][cols].iterrows():
    url = row['biourl']
    person_name = row['person']
    
    response = requests.get(url)
    
    if response.status_code == 200:
        soup = BeautifulSoup(response.content, "html.parser")
        paragraphs = soup.find_all("p")
        
        for paragraph in paragraphs:
            if "Born:" in paragraph.get_text():
                birth_info = paragraph.get_text().split("Born:")[1].split("Birthplace:")[0].strip()
                birth_date = birth_info.split(" ")[0]
                
                Oscars_df.loc[Oscars_df['person'] == person_name, ['date_of_birth_gold', 'date_of_birth']] = birth_date, birth_date
                break
    else:
        print("No se pudo acceder a la página:", url)

## Segundo filtro

In [ ]:
Oscars_df.info()

In [ ]:
Oscars_df = pd.read_csv(r"C:\Users\Usuario\OneDrive - udd.cl\Datos adjuntos\Bootcamp ciencia de datos\Modulo 7\Proyecto_7_Organizacion_Presentación_Esteban_Freudenberg_UDD\Github_Proyecto_7\Proyectos-Pregrado\Data_used\processed\Scrapped.csv")

In [ ]:
Oscars_df['date_of_birth_gold'] = pd.to_datetime(Oscars_df['date_of_birth_gold'], errors='coerce')
Oscars_df['date_of_birth'] = pd.to_datetime(Oscars_df['date_of_birth'], errors='coerce')

In [ ]:
print((Oscars_df["sexual_orientation"] == "Na").sum())

## Decido revisar cual es el año de nacimiento y la orientacion sexual mas comun para decidir con que valor imputar.
#### No existen registro sobre la orientacion de estas personas en la web.

In [ ]:
print(Oscars_df["sexual_orientation"].value_counts())
print(Oscars_df[Oscars_df["sexual_orientation"] == "Na"]["date_of_birth"])

In [ ]:
Oscars_df.loc[Oscars_df['sexual_orientation'] == 'Na', 'sexual_orientation'] = 'Straight'

In [ ]:
print((Oscars_df["religion"] == "Na").sum())

## El 50% de los valores de religion son nulos, por lo que decido eliminar la columna.

In [ ]:
Oscars_df.drop(["religion","religion_gold"], inplace=True,axis=1)

In [ ]:
print((Oscars_df["birthplace"] == "Na").sum())

In [ ]:
Oscars_df[Oscars_df["birthplace"] == "Na"]

In [ ]:
rows_with_nat = Oscars_df[Oscars_df['date_of_birth'].isna()]
print(rows_with_nat)

## Estos son los valores que faltan de "birthplace" y "date_of_birth":

### christoph waltz   / Vienna, Austria  / 4-Oct-1956

In [ ]:
Oscars_df.loc[Oscars_df['person'] == 'Christoph_Waltz', ['date_of_birth_gold', 'date_of_birth']] = '4-Oct-1956'
Oscars_df.loc[Oscars_df['person'] == 'Christoph_Waltz', ['birthplace', 'birthplace_gold']] = 'Vienna_Austria'

In [ ]:
Oscar_limpio = Oscars_df

In [ ]:
Oscar_limpio.to_csv("Oscars_Limpio.csv",index=False)

In [ ]:
Oscars_para_graficos = Oscar_limpio[["birthplace","date_of_birth","race_ethnicity","sexual_orientation","year_of_award","award","movie","person"]]

In [ ]:
Oscars_para_graficos.to_csv("Oscars_para_graficos.csv",index=False)

In [ ]:
Oscars_para_model = Oscar_limpio.drop(["movie","person","biourl","_golden","_unit_state","_trusted_judgments","birthplace_gold","date_of_birth_gold","race_ethnicity_gold","sexual_orientation_gold","year_of_award_gold"],axis=1)

In [ ]:
Oscars_gold = Oscar_limpio[["_golden","_unit_state","birthplace_gold","date_of_birth_gold","race_ethnicity_gold","sexual_orientation_gold","year_of_award_gold"]]

In [ ]:
Oscars_gold.to_csv("Oscars_gold.csv",index=False)

In [ ]:
Oscars_para_model.to_csv('Oscars_para_model.csv', index=False)

In [ ]:
Oscar_limpio.head()

## Creacion de coorneadas para graficar mapa y visualizar ubicacion de nacimiento de cada uno de los premiados

In [ ]:
coordinates_dict = {
    'Port_Talbot_Wales': (51.5912, -3.7800),
    'East_Harlem_New_York_City': (40.7947, -73.9422),
    'Concord_Ca': (37.9779, -122.0311),
    'Long_Beach_Ca': (33.7701, -118.1937),
    'Toowoomba_Queensland_Australia': (-27.5610, 151.9530),
    'Misericordia_Arezzo_Tuscany_Italy': (43.4632, 11.8795),
    'South_Orange_Nj': (40.7492, -74.2611),
    'Burbank_Ca': (34.1808, -118.3089),
    'Terrell_Tx': (32.7357, -96.2753),
    'Fairport_Ny': (43.1001, -77.4179),
    'Longview_Tx': (32.5007, -94.7405),
    'Grayshott_Hampshire_England': (51.1152, -0.7457),
    'RueilMalmaison_HautsDeSeine_France': (48.8760, 2.1820),
    'Uvalde_Tx': (29.2097, -99.7861),
    'Swampscott_Ma': (42.4709, -70.9196),
    'Elizabeth_Nj': (40.6631, -74.2107),
    'Walters_Ok': (34.3626, -98.3052),
    'Savannah_Ga': (32.0836, -81.0998),
    'Dublin_Ireland': (53.3498, -6.2603),
    'North_Sydney_Nova_Scotia_Canada': (46.2487, -60.2519),
    'Vale_of_Glamorgan_Wales': (51.4274, -3.2694),
    'Toronto_Ontario_Canada': (43.6511, -79.3830),
    'Lima_Oh': (40.7421, -84.1052),
    'St_Petersburg_Russia': (59.9343, 30.3351),
    'Chihuahua_Mexico': (28.6353, -106.0889),
    'Hoboken_Nj': (40.7434, -74.0324),
    'Hunt_City_Il': (39.6797, -88.5289),
    'Marian_Glas_Anglesey_Wales': (53.3554, -4.2445),
    'Norwood_Oh': (39.1542, -84.4513),
    'Hartford_Ct': (41.7658, -72.6734),
    'Macon_Ga': (32.8407, -83.6324),
    'Bronx_Ny': (40.8448, -73.8648),
    'Malden_Ma': (42.4251, -71.0662),
    'St_Cloud_Mn': (45.5579, -94.1632),
    'Felixstowe_Suffolk_England': (51.9634, 1.3512),
    'Shidler_Ok': (36.8576, -96.6670),
    'Cleveland_Oh': (41.4993, -81.6944),
    'Bucharest_Romania': (44.4268, 26.1025),
    'Astoria_Ny': (40.7644, -73.9235),
    'Malibu_Ca': (34.0259, -118.7798),
    'Samrong_Young_Cambodia': (11.5350, 104.9247),
    'Kenosha_Wi': (42.5847, -87.8212),
    'Bermondsey_England': (51.4975, -0.0800),
    'Edinburgh_Scotland': (55.9533, -3.1883),
    'St_Louis_Mo': (38.6270, -90.1994),
    'Newark_Nj': (40.7357, -74.1724),
    'Lattimer_Mines_Pa': (40.9832, -75.9666),
    'San_Saba_Tx': (31.1965, -98.7170),
    'Laurel_Ne': (42.3947, -97.0991),
    'Lincoln_Lincolnshire_England': (53.2307, -0.5407),
    'West_Covina_Ca': (34.0686, -117.9389),
    'Memphis_Tn': (35.1495, -90.0490),
    'Lexington_Ky': (38.0406, -84.5037),
    'Las_Palmas_De_Gran_Canaria_Canary_Islands': (28.1248, -15.4340),
    'Perth_Australia': (-31.9505, 115.8605),
    'Haverfordwest_Pembrokeshire_Wales': (51.8020, -4.9710),
    'Bossier_City_La': (32.5150, -93.7321),
    'Montreal_Quebec_Canada': (45.5017, -73.5673),
    'Cobourg_Ontario_Canada': (43.9598, -78.1652),
    'Lowell_Ma': (42.6334, -71.3162),
    'Dusseldorf_Germany': (51.2277, 6.7735),
    'Darjeeling_India': (27.0478, 88.2636),
    'Independence_Mo': (39.0911, -94.4155),
    'Tulsa_Ok': (36.1540, -95.9928),
    'Stockholm_Sweden': (59.3293, 18.0686),
    'San_Antonio_Tx': (29.4241, -98.4936),
    'St_Joseph_Mo': (39.7675, -94.8467),
    'Brussels_Belgium': (50.8503, 4.3517),
    'Rome_Italy': (41.9028, 12.4964),
    'Thomasville_Ga': (30.8368, -83.9787),
    'Wiesbaden_Germany': (50.0782, 8.2398),
    'Pozzuoli_Italy': (40.8223, 14.1097),
    'Packard_Ky': (37.6889, -83.3037),
    'WaltononThames_Surrey_England': (51.3854, -0.4162),
    'Chabua_Assam_India': (27.4833, 95.1833),
    'Ilford_Essex_England': (51.5560, 0.0781),
    'Birkenhead_Cheshire_England': (53.3880, -3.0326),
    'Birmingham_Al': (33.5207, -86.8025),
    'Bascom_Fl': (30.8383, -85.1047),
    'Quitman_Tx': (32.7966, -95.4435),
    'Summit_Nj': (40.7159, -74.3646),
    'Kirksville_Mo': (40.1948, -92.5833),
    'Morton_Grove_Il': (42.0406, -87.7825),
    'El_Centro_Ca': (32.7920, -115.5631),
    'Conyers_Ga': (33.6676, -84.0177),
    'Cloquet_Mn': (46.7219, -92.4618),
    'Queens_Ny': (40.7282, -73.7949),
    'Culver_City_Ca': (34.0219, -118.3965),
    'Lincoln_Ne': (40.8136, -96.7026),
    'Smyrna_Ga': (33.8834, -84.5144),
    'Honolulu_Hi': (21.3069, -157.8583),
    'Benoni_South_Africa': (-26.1885, 28.3200),
    'New_Orleans_La': (29.9511, -90.0715),
    'Chiswick_London_England': (51.4892, -0.2610),
    'Reading_England': (51.4543, -0.9781),
    'Arlington_Va': (38.8816, -77.0910),
    'Jerusalem_Israel': (31.7683, 35.2137),
    'Louisville_Ky': (38.2527, -85.7585),
    'Melbourne_Victoria_Australia': (-37.8136, 144.9631),
    'Litchfield_Mn': (45.1276, -94.5265),
    'Wichita_Ks': (37.6872, -97.3301),
    'Palmyra_Mo': (39.7947, -91.5225),
    'Quincy_Il': (39.9356, -91.4099),
    'Athens_Greece': (37.9838, 23.7275),
    'Michigan_City_In': (41.7075, -86.8950),
    'Joliet_Il': (41.5250, -88.0817),
    'Newtonville_Ma': (42.3523, -71.2071),
    'Denison_Ia': (42.0256, -95.3530),
    'Otaro_Hokkaido_Japan': (43.0621, 141.3544),
    'Bramhall_Cheshire_England': (53.3600, -2.1580),
    'Charleroi_Pa': (40.1726, -79.9940),
    'Humacao_Puerto_Rico': (18.1546, -65.8278),
    'Elmhurst_Ny': (40.7376, -73.8785),
    'Hastings_Ne': (40.5865, -98.3912),
    'Marblehead_Ma': (42.5001, -70.8578),
    'Quincy_Ma': (42.2529, -71.0023),
    'Silver_Spring_Md': (39.0046, -77.0369),
    'Des_Moines_Ia': (41.5910, -93.6037),
    'Old_Westbury_Ny': (40.7759, -73.5931),
    'Newport_Ar': (35.6048, -91.2826),
    'Troy_Ny': (42.7284, -73.6918),
    'Morristown_Nj': (40.7968, -74.4815),
    'Wareham_Ma': (41.7598, -70.7222),
    'Winnipeg_Manitoba_Canada': (49.8951, -97.1384),
    'Tenafly_Nj': (40.9254, -73.9625),
    'Athens_Ga': (33.9519, -83.3576),
    'York_North_Yorkshire_England': (53.9591, -1.0815),
    'Catskill_Mountains_Ny': (42.1957, -74.1332),
    'Mumbles_Wales': (51.5680, -3.9763),
    'Katy_Tx': (29.7858, -95.8244),
    'Madrid_Spain': (40.4168, -3.7038),
    'Woodlawn_Md': (39.3051, -76.7720),
    'Montgomery_Al': (32.3668, -86.3006),
    'Mexico_City_Mexico': (19.4326, -99.1332)
}

Coordenadas_1 = pd.DataFrame(list(coordinates_dict.items()), columns=['Location', 'Coordinates'])
Coordenadas_1.head()

import pandas as pd

# Definir los datos
data = {
    'Location': [
        'Chisinau_Moldova', 'Glasgow_Scotland', 'Chicago_Il', 'Salt_Lake_City_Ut',
        'Bisacquino_Sicily_Italy', 'Cape_Elizabeth_Me', 'Los_Angeles_Ca',
        'Pasadena_Ca', 'Mulhouse_HautRhin_Alsace_France', 'Budapest_Hungary',
        'New_York_City', 'Sucha_Galicia_Austria', 'Istanbul_Turkey', 'Nevada_Mo',
        'WilkesBarre_Pa', 'Oakland_Ca', 'Vienna_Austria', 'Lawrence_Ks',
        'Croydon_Surrey_England', 'Winchester_In', 'Shipley_Yorkshire_England',
        'Berlin_Germany', 'St_Louis_Park_Mn', 'London_England', 'Tokyo_Japan',
        'Minneapolis_Mn', 'Detroit_Mi', 'CÌÁslav_Czechoslovakia', 'Oak_Park_Il',
        'Brooklyn_Ny', 'Waxahachie_Tx', 'Santa_Monica_Ca', 'Richmond_Va',
        'Cambridge_England', 'North_Bergen_Nj', 'Lafayette_In',
        'Parma_EmiliaRomagna_Italy', 'Baltimore_Md', 'Lynwood_Ca', 'Baldwin_Ny',
        'San_Francisco_Ca', 'Cincinnati_Oh', 'Peekskill_Ny',
        'Ryde_Isle_of_Wight_England', 'Kapuskasing_Ontario_Canada',
        'Reading_Berkshire_England', 'Atlanta_Ga', 'Duncan_Ok', 'Paris_France',
        'Wellington_New_Zealand', 'Pingtung_Taiwan', 'Flushing_Ny',
        'Manchester_England', 'San_Carlos_Ca', 'Rorschach_Switzerland',
        'Columbus_Oh', 'Philadelphia_Pa', 'Kansas_City_Mo',
        'Victoria_Hotel_Scarborough_Yorkshire_England', 'Cadiz_Oh',
        'Tunbridge_Wells_Kent_England', 'Lviv_Ukraine', 'Milwaukee_Wi',
        'Withington_Manchester_England', 'Indiana_Pa', 'Helena_Mt', 'Manhattan_Ny',
        'Tacoma_Wa', 'Neath_Wales', 'Racine_Wi', 'Richmond_Surrey_England',
        'Dorking_Surrey_England', 'Santurce_Puerto_Rico', 'Ofallon_Il', 'Omaha_Ne',
        'Hamden_Ct', 'Vladivostok_Russia', 'Evanston_Il', 'La_Jolla_Ca', 'Miami_Fl',
        'Huyton_Lancashire_England', 'Hurstpierpoint_West_Sussex_England',
        'Westhampton_Ny', 'Winterset_Ia', 'Wise_Va', 'San_Bernardino_Ca', 'Newton_Ma',
        'Mount_Vernon_Ny', 'South_Kensington_London_England', 'Yonkers_Ny',
        'Grand_Island_Ne', 'Scarborough_Yorkshire_England', 'San_Diego_Ca',
        'Pittsburgh_Pa', 'Washington_Dc', 'Shaker_Heights_Oh', 'New_Brunswick_Nj',
        'Cowes_Isle_of_Wight_England'
    ],
    'Coordinates': [
        [47.010452, 28.86381], [55.864237, -4.251806], [41.878113, -87.629799], [40.760779, -111.891047],
        [37.795041, 13.258076], [43.563484, -70.22682], [34.052235, -118.243683], [34.147785, -118.144515],
        [47.750839, 7.335888], [47.497913, 19.040236], [40.712776, -74.005974], [49.634785, 22.67423],
        [41.008237, 28.97836], [37.839333, -94.354869], [41.245914, -75.881307], [37.804363, -122.271111],
        [48.208354, 16.372504], [38.971669, -95.23525], [51.376165, -0.098234], [40.174554, -85.488863],
        [53.833333, -1.783333], [52.520008, 13.404954], [44.948333, -93.348611], [51.507351, -0.127758],
        [35.682839, 139.759455], [44.977753, -93.265011], [42.331429, -83.045753], [49.903761, 15.377264],
        [41.885031, -87.784502], [40.650002, -73.949997], [32.386433, -96.848331], [34.019394, -118.491191],
        [37.540726, -77.43605], [52.205276, 0.119167], [40.804283, -74.012083], [40.416702, -86.875286],
        [44.801485, 10.327903], [39.290386, -76.61219], [33.930293, -118.21146], [40.652954, -73.607159],
        [37.774929, -122.419418], [39.103119, -84.512016], [41.290387, -73.920857], [50.730548, -1.160299],
        [49.416668, -82.433334], [51.454514, -0.973168], [33.748997, -84.387985], [34.502303, -97.957813],
        [48.856613, 2.352222], [-41.28664, 174.77557], [22.681614, 120.481592], [40.764462, -73.831693],
        [53.480759, -2.242631], [37.504311, -122.261796], [47.477522, 9.482359], [39.961178, -82.998795],
        [39.952583, -75.165222], [39.099731, -94.578568], [54.283333, -0.4], [40.273703, -81.865104],
        [51.132377, 0.263695], [49.839684, 24.029717], [43.038902, -87.906471], [53.441143, -2.257355],
        [40.621212, -79.15295], [46.58976, -112.03912], [40.78343, -73.96625], [47.252877, -122.44429],
        [51.661385, -3.804017], [42.726131, -87.782852], [51.461311, -0.303742], [51.231049, -0.324404],
        [18.439216, -66.061967], [38.592323, -89.910989], [41.256535, -95.934502], [41.383878, -72.902606],
        [43.115536, 131.885485], [42.044738, -87.693046], [32.832811, -117.271272], [25.76168, -80.19179],
        [53.408371, -2.839239], [50.93824, -0.235722], [40.830132, -72.689713], [41.330863, -94.013631],
        [36.975942, -82.575234], [34.10834, -117.289765], [42.33698, -71.209221], [40.9126, -73.8371],
        [51.494067, -0.174604], [40.93121, -73.89875], [40.926395, -98.342013], [54.282879, -0.401187],
        [32.715736, -117.161087], [40.440624, -79.995888], [38.89511, -77.03637], [41.473942, -81.53767],
        [40.486217, -74.451817], [50.762069, -1.298]
    ]
}

# Crear el DataFrame
Coordenadas_2 = pd.DataFrame(data)

# Mostrar el DataFrame
print(Coordenadas_2)

Coordenadas_1['Coordinates'] = Coordenadas_1['Coordinates'].apply(lambda x: list(x))
Coordenadas_combinadas = pd.concat([Coordenadas_1, Coordenadas_2], ignore_index=True)


Oscar_limpio = pd.read_csv(r"C:\Users\Usuario\OneDrive - udd.cl\Datos adjuntos\Bootcamp ciencia de datos\Modulo 7\Proyecto_7_Organizacion_Presentación_Esteban_Freudenberg_UDD\Proyecto_7_Esteban\processed\Oscars_Limpio.csv")
Oscar_limpio['Coordinates'] = Oscar_limpio['birthplace'].map(Coordenadas_combinadas.set_index('Location')['Coordinates'])

In [ ]:
import pandas as pd

# Definir los datos
data = {
    'Location': [
        'Chisinau_Moldova', 'Glasgow_Scotland', 'Chicago_Il', 'Salt_Lake_City_Ut',
        'Bisacquino_Sicily_Italy', 'Cape_Elizabeth_Me', 'Los_Angeles_Ca',
        'Pasadena_Ca', 'Mulhouse_HautRhin_Alsace_France', 'Budapest_Hungary',
        'New_York_City', 'Sucha_Galicia_Austria', 'Istanbul_Turkey', 'Nevada_Mo',
        'WilkesBarre_Pa', 'Oakland_Ca', 'Vienna_Austria', 'Lawrence_Ks',
        'Croydon_Surrey_England', 'Winchester_In', 'Shipley_Yorkshire_England',
        'Berlin_Germany', 'St_Louis_Park_Mn', 'London_England', 'Tokyo_Japan',
        'Minneapolis_Mn', 'Detroit_Mi', 'CÌÁslav_Czechoslovakia', 'Oak_Park_Il',
        'Brooklyn_Ny', 'Waxahachie_Tx', 'Santa_Monica_Ca', 'Richmond_Va',
        'Cambridge_England', 'North_Bergen_Nj', 'Lafayette_In',
        'Parma_EmiliaRomagna_Italy', 'Baltimore_Md', 'Lynwood_Ca', 'Baldwin_Ny',
        'San_Francisco_Ca', 'Cincinnati_Oh', 'Peekskill_Ny',
        'Ryde_Isle_of_Wight_England', 'Kapuskasing_Ontario_Canada',
        'Reading_Berkshire_England', 'Atlanta_Ga', 'Duncan_Ok', 'Paris_France',
        'Wellington_New_Zealand', 'Pingtung_Taiwan', 'Flushing_Ny',
        'Manchester_England', 'San_Carlos_Ca', 'Rorschach_Switzerland',
        'Columbus_Oh', 'Philadelphia_Pa', 'Kansas_City_Mo',
        'Victoria_Hotel_Scarborough_Yorkshire_England', 'Cadiz_Oh',
        'Tunbridge_Wells_Kent_England', 'Lviv_Ukraine', 'Milwaukee_Wi',
        'Withington_Manchester_England', 'Indiana_Pa', 'Helena_Mt', 'Manhattan_Ny',
        'Tacoma_Wa', 'Neath_Wales', 'Racine_Wi', 'Richmond_Surrey_England',
        'Dorking_Surrey_England', 'Santurce_Puerto_Rico', 'Ofallon_Il', 'Omaha_Ne',
        'Hamden_Ct', 'Vladivostok_Russia', 'Evanston_Il', 'La_Jolla_Ca', 'Miami_Fl',
        'Huyton_Lancashire_England', 'Hurstpierpoint_West_Sussex_England',
        'Westhampton_Ny', 'Winterset_Ia', 'Wise_Va', 'San_Bernardino_Ca', 'Newton_Ma',
        'Mount_Vernon_Ny', 'South_Kensington_London_England', 'Yonkers_Ny',
        'Grand_Island_Ne', 'Scarborough_Yorkshire_England', 'San_Diego_Ca',
        'Pittsburgh_Pa', 'Washington_Dc', 'Shaker_Heights_Oh', 'New_Brunswick_Nj',
        'Cowes_Isle_of_Wight_England'
    ],
    'Coordinates': [
        [47.010452, 28.86381], [55.864237, -4.251806], [41.878113, -87.629799], [40.760779, -111.891047],
        [37.795041, 13.258076], [43.563484, -70.22682], [34.052235, -118.243683], [34.147785, -118.144515],
        [47.750839, 7.335888], [47.497913, 19.040236], [40.712776, -74.005974], [49.634785, 22.67423],
        [41.008237, 28.97836], [37.839333, -94.354869], [41.245914, -75.881307], [37.804363, -122.271111],
        [48.208354, 16.372504], [38.971669, -95.23525], [51.376165, -0.098234], [40.174554, -85.488863],
        [53.833333, -1.783333], [52.520008, 13.404954], [44.948333, -93.348611], [51.507351, -0.127758],
        [35.682839, 139.759455], [44.977753, -93.265011], [42.331429, -83.045753], [49.903761, 15.377264],
        [41.885031, -87.784502], [40.650002, -73.949997], [32.386433, -96.848331], [34.019394, -118.491191],
        [37.540726, -77.43605], [52.205276, 0.119167], [40.804283, -74.012083], [40.416702, -86.875286],
        [44.801485, 10.327903], [39.290386, -76.61219], [33.930293, -118.21146], [40.652954, -73.607159],
        [37.774929, -122.419418], [39.103119, -84.512016], [41.290387, -73.920857], [50.730548, -1.160299],
        [49.416668, -82.433334], [51.454514, -0.973168], [33.748997, -84.387985], [34.502303, -97.957813],
        [48.856613, 2.352222], [-41.28664, 174.77557], [22.681614, 120.481592], [40.764462, -73.831693],
        [53.480759, -2.242631], [37.504311, -122.261796], [47.477522, 9.482359], [39.961178, -82.998795],
        [39.952583, -75.165222], [39.099731, -94.578568], [54.283333, -0.4], [40.273703, -81.865104],
        [51.132377, 0.263695], [49.839684, 24.029717], [43.038902, -87.906471], [53.441143, -2.257355],
        [40.621212, -79.15295], [46.58976, -112.03912], [40.78343, -73.96625], [47.252877, -122.44429],
        [51.661385, -3.804017], [42.726131, -87.782852], [51.461311, -0.303742], [51.231049, -0.324404],
        [18.439216, -66.061967], [38.592323, -89.910989], [41.256535, -95.934502], [41.383878, -72.902606],
        [43.115536, 131.885485], [42.044738, -87.693046], [32.832811, -117.271272], [25.76168, -80.19179],
        [53.408371, -2.839239], [50.93824, -0.235722], [40.830132, -72.689713], [41.330863, -94.013631],
        [36.975942, -82.575234], [34.10834, -117.289765], [42.33698, -71.209221], [40.9126, -73.8371],
        [51.494067, -0.174604], [40.93121, -73.89875], [40.926395, -98.342013], [54.282879, -0.401187],
        [32.715736, -117.161087], [40.440624, -79.995888], [38.89511, -77.03637], [41.473942, -81.53767],
        [40.486217, -74.451817], [50.762069, -1.298]
    ]
}

# Crear el DataFrame
Coordenadas_2 = pd.DataFrame(data)

# Mostrar el DataFrame
print(Coordenadas_2)

In [ ]:
Coordenadas_1['Coordinates'] = Coordenadas_1['Coordinates'].apply(lambda x: list(x))
Coordenadas_combinadas = pd.concat([Coordenadas_1, Coordenadas_2], ignore_index=True)

In [ ]:
Oscars_para_graficos['Coordinates'] = Oscars_para_graficos['birthplace'].map(Coordenadas_combinadas.set_index('Location')['Coordinates'])

In [ ]:
Oscars_para_graficos.to_csv("Oscars_con_coordenadas.csv",index=False)

In [ ]:
Oscars_con_coordenadas.info()

In [ ]:
import folium
import pandas as pd

# Cargar el DataFrame con los datos
# Asumiendo que 'Oscars_para_graficos' ya está cargado
# df = pd.read_csv('ruta/al/archivo.csv')  # Por ejemplo, si los datos están en un archivo CSV

# Crear un mapa centrado en una ubicación inicial (por ejemplo, Los Ángeles)
mapa = folium.Map(location=[34.0928092, -118.3286614], zoom_start=4)

# Iterar sobre cada fila del DataFrame para añadir marcadores al mapa
for index, row in Oscars_con_coordenadas.iterrows():
    # Obtener las coordenadas de la columna 'Coordinates'
    coords = row['Coordinates']
    lat, lon = coords[0], coords[1]

    popup_text = f"Lugar nacimiento: {row['birthplace']}<br>Premiado: {row['person']}<br>Año premiación: {row['year_of_award']}"
    folium.Marker([lat, lon], 
                  popup=folium.Popup(popup_text, max_width=300)).add_to(mapa)
# Guardar el mapa como un archivo HTML
mapa.save('mapa_premios_oscar.html')

# Mostrar el mapa en Jupyter Notebook (si estás usando Jupyter)
mapa

In [ ]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd
import plotly.express as px


Oscars_con_coordenadas[['lat', 'lon']] = pd.DataFrame(Oscars_con_coordenadas['Coordinates'].tolist(), index=Oscars_para_graficos.index)

# Crear la figura del mapa
fig = px.scatter_mapbox(Oscars_con_coordenadas, lat='lat', lon='lon',
                        hover_name='person', hover_data={'lat': False, 'lon': False, 'birthplace': True, 'year_of_award': True},
                        zoom=4, height=600)

# Configurar el mapa con el estilo de Mapbox
fig.update_layout(mapbox_style="open-street-map")
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})

# Crear la aplicación Dash
app = dash.Dash(__name__)

app.layout = html.Div([
    html.H1("Mapa de Premios Oscar"),
    dcc.Graph(figure=fig)
])

# Ejecutar la aplicación
if __name__ == '__main__':
    app.run_server(debug=True)